<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Format date</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#format" ).change(function() {
      $( "#datepicker" ).datepicker( "option", "dateFormat", $( this ).val() );
    });
  });
  </script>
</head>
<body>
	<form action="" method="post">
  		date:<br>
  		<input type="text" name="date" id="datepicker" size="30" >
  		<br>
  		title:<br>
  		<input type="text" name="title">
  		<input type="submit" value="Submit">
	</form>
<p>Format options:<br>
  <select id="format">
    <option value="yy-mm-dd">ISO 8601 - yy-mm-dd</option>
    <option value="mm/dd/yy">Default - mm/dd/yy</option>
    <option value="&apos;day&apos; d &apos;of&apos; MM &apos;in the year&apos; yy">With text - 'day' d 'of' MM 'in the year' yy</option>
    <option value="d M, y">Short - d M, y</option>
    <option value="d MM, y">Medium - d MM, y</option>
    <option value="DD, d MM, yy">Full - DD, d MM, yy</option>
  </select>
</p>